<title>PythonProjects/Q2</title>
{% extends 'back.html' %}
{% block body %}<br>
<h2>Please select operation:</h2>
  <form action="/Project_1_Q2" method="post">
    <label for="operation">Operation</label>
      <select id="operation" name="operation">
          <option value="add">addition</option>
          <option value="div">division</option>
      </select>
      <label for="val1"> Enter value1 </label>
      <input type="text" name="val1" id="val1" value="" required>
      <label for="val2"> Enter value2 </label>
      <input type="text" name="val2" id="val2" value= "" required>
      <input type="submit" value="Get result">
  </form>
  <br>

<h3> {{ result }} </h3>
{% endblock body %}