<title>PythonProjects/Q4</title>

{% extends 'back.html' %}
{% block body %}<br>

<h2>Swap variables: </h2>
  <form action="/Project_1_Q4" method="POST">
      <label for="val1">Enter first value</label>
      <input type="text" name="val1" id="val1" value="" required>
      <label for="val2">Enter second value</label>
      <input type="text" name="val2" id="val2"value="" required>
      <input type="submit" value="Swap">
  </form>
  <br>

<h5> {{input_var}} </h5>
<h5> {{swapped}} </h5>

{% endblock body %}